body{
    background-color: black;
}

header{
    text-align: center;
    background-color: aqua;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 65px;
    padding-top: 1px;
}

nav{
    background-color: darkred;
    padding: 10px;
    text-align: right;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    height: 30px;
}

#slider{
    overflow: hidden;
    height: 900px;
    background-color: green;
    margin-top: 10px;
    border-radius: 10px;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img{
    float: left;
    width: 20%;
}

@keyframes slider {  /*Slider mechanics, didn't really understand, would elaborate when I do*/
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

#writeup_1{ /*details of the first div after the slider*/
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 10px;
    border: white solid 1px;
    background-color: red;
}

#text_1{
    text-align: center;
    background-color: pink;
    width: 100%;
}

#text_1 > h1{
    text-align: center;
}

#writeup_2{ /*details of the second div after the slider*/
    width: 100%;
    height: 500px;
    display: flex;
    border: white solid 1px;
    background-color: red;
}

#text_2{
    text-align: center;
    background-color: pink;
    width: 100%;
}

#text_2 > h1{
    text-align: center;
}