body{
    background-color: black;
}

header{
    text-align: center;
    background-color: aqua;
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 72px;
    padding-top: 1px;
}

header > h1{
    font-size: 30px;
}

nav{
    background-color: darkred;
    padding: 10px;
    text-align: right;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    height: 30px;
}

#slider{
    overflow: hidden;
    height: 800px;
    margin-top: 10px;
    border-radius: 10px;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
    display: flex;
}

#slider figure img{
    float: left;
    width: 20%;
    height: 800px;
}

@keyframes slider {  /*Slider mechanics, didn't really understand, would elaborate when I do*/
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

#writeup_1{
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    
}

#text_1{
    display: flex;
    width: 65%;
    justify-content: center;
}

#w1{
    width: 100%;
    height: auto;
    display: flex;
    width: 35%;
}

#writeup_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
}

#text_2{
    display: flex;
    width: 65%;
}

#w2{
    width: 100%;
    height: auto;
    display: flex;
    width: 35%;
}

#writeup_3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
}

#text_3{
    display: flex;
    width: 65%;
}

#w3{
    width: 100%;
    height: auto;
    display: flex;
    width: 35%;
}

#button{
    width: 100%;
    background-color: yellow;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

button{
    margin: auto;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}

button:hover { /*The button turns pink once the pointer hovers over it*/
    background-color: pink;
    color: white;
}

footer{
    background-color: pink;
    display: flex;
    justify-content: center;
}
#footer_1{
    background-color: white;
}

#footer_2{
    background-color: green;
}

#footer_3{
    background-color: orange;
}